# API Configuration
SERVER_PORT=8000
GIN_MODE=release

# Logging Configuration
LOG_LEVEL=info

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_NAME=your_postgres_db
DB_SSL=disable

#Telemetry Configuration
OTEL_SERVICE_NAME=service-name
OTEL_SERVICE_VERSION=0.0.1
OTEL_EXPORTER_ENDPOINT=otel-collector:4317
